
PopovR_GUN28_GUNPC_Collections.sln
PopovR_GUN28_GUNPC_Collections.csproj
obj/project.nuget.cache
obj/project.assets.json
obj/PopovR_GUN28_GUNPC_Collections.csproj.nuget.g.targets
obj/PopovR_GUN28_GUNPC_Collections.csproj.nuget.g.props
obj/PopovR_GUN28_GUNPC_Collections.csproj.nuget.dgspec.json
obj/Debug/net8.0/refint/PopovR_GUN28_GUNPC_Collections.dll
obj/Debug/net8.0/ref/PopovR_GUN28_GUNPC_Collections.dll
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.pdb
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.GlobalUsings.g.cs
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.genruntimeconfig.cache
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.dll
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.csproj.FileListAbsolute.txt
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.assets.cache
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.AssemblyInfoInputs.cache
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.AssemblyInfo.cs
obj/Debug/net8.0/apphost.exe
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.runtimeconfig.json
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.pdb
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.exe
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.dll
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Collections.deps.json
.vs/ProjectEvaluation/popovr_gun28_gunpc_collections.strings.v9.bin
.vs/ProjectEvaluation/popovr_gun28_gunpc_collections.projects.v9.bin
.vs/ProjectEvaluation/popovr_gun28_gunpc_collections.metadata.v9.bin
.vs/PopovR_GUN28_GUNPC_Collections/v17/DocumentLayout.json
.vs/PopovR_GUN28_GUNPC_Collections/v17/DocumentLayout.backup.json
.vs/PopovR_GUN28_GUNPC_Collections/v17/.suo
.vs/PopovR_GUN28_GUNPC_Collections/v17/.futdcache.v2
.vs/PopovR_GUN28_GUNPC_Collections/FileContentIndex/c3e0c9dc-1e5a-4396-b518-84fd0658e59d.vsidx
.vs/PopovR_GUN28_GUNPC_Collections/DesignTimeBuild/.dtbcache.v2
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net8.0/apphost.exe
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net8.0/apphost.exe
